@import "./colours.scss";

#content {
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#create {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $bg-card;
    border-radius: .25rem;
    padding: 1rem 2.5rem;
    width: 700px;
}

#top,
#middle,
#bottom {
    width: 100%;
}

#middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    #midLeft,
    #midRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        div {
            height: 100%;
            display: flex;
            margin-bottom: 10px;
            flex-direction: column;
        }
    }

    #midLeft {
        margin-right: 1.5rem;
    }

    #midRight {
        margin-left: 1.5rem;
        
        div {
            
            div {
                display: flex;
                align-items: center;
                flex-direction: row;
                height: 70px;
            }
        }

        #movieRating {
            margin-top: 22px;
            height: 40px;
            text-align: center;
            border-left: 1px solid#292b2f;
            border-right: 1px solid#292b2f;
            border-top: 2px solid transparent !important;
            border-bottom: 2px solid transparent !important;
        }

        .btn {
            height: 40px;
            border: 2px solid;
            border-color:transparent;
            background-color:#1a1c1f;
            color:#ffb53b;
            padding: 0.5rem;
            cursor: pointer;
            box-sizing: border-box;
            transition: border-color .2s;
            user-select: none;
            
            &:hover {
                border-color: #ffb53b;
            }
        }
    }
}

.header {
    color: $title-text;
    font-size: 2rem;
    padding: 2rem 0 4rem 0;
}

label {
    color: $title-text;
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
    color: $body-text;
    height: 40px;
    margin-top: 10px;
    padding: 0 .5rem;
    font-size: 1rem;
    background-color: $bg-card-sec;
    border: 2px solid;
    border-color: transparent;
    outline: none;
    transition: border-color .2s;
    font-family: Quicksand;

    &:hover,
    &:focus {
        border-color: $title-text;
    }
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

#moviePoster {
    cursor: pointer;
}

textarea {
    resize: none;
    height: 150px;
}

.submitbutton {
    font-size: 24px;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border: 2px solid #ffb53b;
    background: transparent;
    color: #ffb53b;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}

.submitbutton:hover {
    background: #ffb53b;
    color: #4d3612;
}