#header {
  z-index: 3434343;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  font-family: Quicksand;
  padding: 2rem;
  box-sizing: border-box;
}

#header .spacer {
  width: 200px;
}

#header .goback,
#header #user {
  font-size: 24px;
  color: #909191;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  width: 200px;
  text-align: center;
}

#header .goback:hover,
#header #user:hover {
  color: #ffb53b;
}

#header .goback {
  font-size: 3rem;
}

#header #logo {
  font-size: 64px;
  color: #ffb53b;
}

