#content {
  position: absolute;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#create {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background-color: #292b2f;
  border-radius: 0.25rem;
  padding: 1rem 2.5rem;
  width: 700px;
}

#top,
#middle,
#bottom {
  width: 100%;
}

#middle {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 100%;
}

#middle #midLeft,
#middle #midRight {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

#middle #midLeft div,
#middle #midRight div {
  height: 100%;
  display: -webkit-box;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

#middle #midLeft {
  margin-right: 1.5rem;
}

#middle #midRight {
  margin-left: 1.5rem;
}

#middle #midRight div div {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  height: 70px;
}

#middle #midRight #movieRating {
  margin-top: 22px;
  height: 40px;
  text-align: center;
  border-left: 1px solid #292b2f;
  border-right: 1px solid #292b2f;
  border-top: 2px solid transparent !important;
  border-bottom: 2px solid transparent !important;
}

#middle #midRight .btn {
  height: 40px;
  border: 2px solid;
  border-color: transparent;
  background-color: #1a1c1f;
  color: #ffb53b;
  padding: 0.5rem;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

#middle #midRight .btn:hover {
  border-color: #ffb53b;
}

.header {
  color: #ffb53b;
  font-size: 2rem;
  padding: 2rem 0 4rem 0;
}

label {
  color: #ffb53b;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2rem;
  color: #909191;
  height: 40px;
  margin-top: 10px;
  padding: 0 0.5rem;
  font-size: 1rem;
  background-color: #1a1c1f;
  border: 2px solid;
  border-color: transparent;
  outline: none;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  font-family: Quicksand;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border-color: #ffb53b;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#moviePoster {
  cursor: pointer;
}

textarea {
  resize: none;
  height: 150px;
}

.submitbutton {
  font-size: 24px;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: 2px solid #ffb53b;
  background: transparent;
  color: #ffb53b;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.submitbutton:hover {
  background: #ffb53b;
  color: #4d3612;
}

