html {
    background: #0e1014;
}

html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
}

#background {
    height: 100vh;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: var(--bg);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    font-family: Quicksand, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.goback {
    font-size: 2.5rem;
    color: rgb(var(--title-text));
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    transition: color .2s;
}

.goback:hover {
    color: rgba(var(--title-text), .5);
}

#addMovieCard .tooltip {
    font-family: Quicksand;
    background: rgb(var(--bg-card-sec));
    color: var(--title-text);
    border: 1px solid rgb(var(--title-text));
    text-shadow: none;
    border-radius: .25rem;
    font-size: 16px;
    margin-top: 60px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    transition: all .2s ease-out;
}
    
.tooltip:after, .tooltip:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: rgb(var(--bg-card-sec));
	border-width: 15px;
	margin-left: -15px;
}

.tooltip:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: rgb(var(--title-text));
	border-width: 17px;
	margin-left: -17px;
}
    
#addMovieCard:hover .tooltip {
    opacity: 1;
}