#addMovie {
  background-color: #292b2f;
  color: #ffb53b;
  font-size: 24px;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px -5px #000;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
}

#addMovie:hover {
  background-color: rgba(41, 43, 47, 0.75);
}

#movies {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 5rem;
}

.movie-container {
  width: 25%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1500px) {
  .movie-container {
    width: 33.33%;
  }
}

@media only screen and (max-width: 1200px) {
  .movie-container {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .movie-container {
    width: 100%;
  }
}

#addMovieCard {
  margin: 2rem 1rem;
  background-color: #292b2f;
  width: 315px;
  height: 500px;
  box-shadow: 0px 0px 10px -5px #000;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  color: #ffb53b;
  font-size: 3rem;
  text-decoration: none;
  border: 1px solid;
  border-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#addMovieCard:hover {
  border-color: #ffb53b;
  box-shadow: 0px 0px 25px -10px #ffb53b;
}

.movie {
  margin: 2rem 1rem;
  background-color: #292b2f;
  width: 315px;
  height: 500px;
  box-shadow: 0px 0px 10px -5px #000;
  border-radius: 0.25rem;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  box-sizing: border-box;
}

.movie .top {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  padding-top: 1rem;
  z-index: 3;
}

.movie .middle {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: 3;
}

.movie .bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: 3;
  padding-bottom: 1rem;
}

.movie .button {
  font-size: 24px;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: 2px solid #ffb53b;
  background: transparent;
  color: #ffb53b;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.2s, background-color 0.2s, color 0.2s;
  transition: opacity 0.2s, background-color 0.2s, color 0.2s;
  text-decoration: none;
}

.movie .button:hover {
  background: #ffb53b;
  color: #4d3612;
}

.movie:hover .button,
.movie:hover .movieBackground,
.movie:hover .title {
  opacity: 1;
}

.rating,
.year {
  font-size: 20px;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  background-color: rgba(26, 28, 31, 0.75);
  font-family: Solway;
}

.year {
  color: #ffb53b;
}

.good-rating {
  color: #1ef780;
}

.average-rating {
  color: #f7e91e;
}

.bad-rating {
  color: #ff1717;
}

.title {
  color: #ffb53b;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.movieBackground {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), to(rgba(255, 181, 59, 0.25)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(255, 181, 59, 0.25));
  position: absolute;
  width: 315px;
  height: 500px;
  border-radius: 0.25rem;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

