@import url('https://fonts.googleapis.com/css?family=Solway:400,700&display=swap');

:root {
    --title-text: rgb(238, 238, 238);
    --body-text: rgb(119, 119, 119);

    --bg: rgb(24, 26, 29);
    --bg-movie: rgb(36, 38, 41);
}

html, body {
    padding: 0;
    margin: 0;
}

#background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--bg);
    z-index: -1;
}

#content {
    display: flex;
    flex-direction: column;

}
#addMovie {
    background-color: var(--bg-movie);
    color: var(--body-text);
    font-family: Solway;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.movie {
    color: var(--body-text);
    font-family: Solway;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: left 20%;
    
background-color: var(--bg-movie);
}

.movie .left,
.movie .center,
.movie .right {
    width: 100%
}
.movie .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.movie .center {
    display: flex;
    justify-content: center;
}

.movie .right {
    display: flex;
    justify-content: end;
}

.movieTitle {
    color: var(--title-text);
    font-weight: bold;
}

