#background {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

#content {
  width: 100%;
  height: 100%;
}

#movie {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  background: #292b2f;
  line-height: 0;
  max-width: 1200px;
  border-radius: 0.25rem;
  overflow: hidden;
}

#left {
  width: 50%;
}

#left img {
  width: 100%;
}

#right {
  line-height: normal;
  width: 100%;
}

#info {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  color: #909191;
  padding: 2rem;
  height: 100%;
  box-sizing: border-box;
}

#bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

#top div:nth-child(2) {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 0.25rem;
}

.name {
  color: #ffb53b;
  font-size: 28px;
  font-family: Quicksand;
  font-weight: bold;
  margin-bottom: 1rem;
}

.rating {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 18px;
  font-family: Solway;
  text-align: center;
  line-height: 30px;
  border: 1px solid;
}

.good-rating {
  color: #1ef780;
  border-color: #1ef780;
  box-shadow: 0px 0px 10px -3px #1ef780, 0px 0px 5px -2px #1ef780 inset;
}

.average-rating {
  color: #f7e91e;
  border-color: #f7e91e;
  box-shadow: 0px 0px 10px -3px #f7e91e, 0px 0px 5px -2px #f7e91e inset;
}

.bad-rating {
  color: #ff1717;
  border-color: #ff1717;
  box-shadow: 0px 0px 10px -3px #ff1717, 0px 0px 5px -2px #ff1717 inset;
}

.trailer {
  font-size: 20px;
  text-decoration: none;
  color: #909191;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.trailer:hover {
  color: #ffb53b;
}

.title {
  font-family: Quicksand;
  color: #ffb53b;
}

.description {
  text-align: justify;
}

